{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h1 class="text-center">Register</h1>
    <div class="row d-flex justify-content-center">
        <form method="post" class="form" action="{% url 'register user' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{{ request.GET.next }}">
            {% for field in user_form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% for field in profile_form %}
                {% bootstrap_field field %}
            {% endfor %}
            <div class="text-center">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p>or <a href="{% url 'login user' %}?next={{ request.GET.next }}">Login</a></p>
                {% endbuttons %}
            </div>
        </form>
    </div>
{% endblock content %}