<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'landing' %}" class="nav-item">Home</a>
            </li>
            <li>
                <a href="{% url 'pet list' %}" class="nav-item">All pets photos</a>
            </li>
            <li>
                <a href="{% url 'login' %}" class="nav-item">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}" class="nav-item">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>